** {
  margin: 0px;
  padding:0px;
}



.navbar-brand {
  color: #c7d1d4;
} 
 

 .signupImg {
  text-align:center;
  align-items:center;
 }

 body{
 background:linear-gradient(to right, rgb(255, 255, 255),rgb(214, 208, 196)) ;
 }

.signupForm {
  display:flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
