/* * {
  margin: 0px;
  padding:0px;
}

body {
 background-color: #6096B4;
}

div  #navbarSupportedContent {
  background-color: #93BFCF;
}
.navbar-brand {
  background-color: #93BFCF;
} 
 */

 .signupImg {
  text-align:center;
  align-items:center;
 }

 body{
 background:linear-gradient(to right, rgb(255, 255, 255),rgb(226, 209, 209)) ;
 }

.signupForm {
  display:flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}